@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}

* :not(.material-icons){
    font-family: "Roboto Condensed", sans-serif !important;
}

:root {
    --off-white: #FCFCFC;
    --light-gray: #e7ecef;
    --dark-gray: #9b9b9b;
    --darker-gray: #656565;
    --light-gray: #e7ecef;
    --dark-gray: #9b9b9b;
    --yellow: #fdb932;
    --dark-yellow: #f7a603;
    --red: #C53638;
    --dark-red: #ad1114;
    --link-blue: #0000FF;
}

h1 {
    font-size: 36px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.w100 {
    width: 100%;
}

.center-text {
    text-align: center;
}

.underlined-input {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid var(--dark-gray);
    width: 100%;
    padding: 2px 5px;
    transition: border-bottom 0.4s ease;
}

.underlined-input:focus-visible {
    border-bottom: 2px solid var(--yellow);
}

.form-group {
    margin-bottom: 16px;
    width: 100%;
    color: black;
}

.form-group p {
    margin-bottom: 2px;
}

select {
    width: 100%;
    padding: 2px 5px;
    border: 2px solid var(--dark-gray);
}

select:focus-visible {
    border: 2px solid var(--dark-yellow);
}

button {
    cursor: pointer;
    background-color: transparent;
}

button:disabled {
    cursor: default;
    background-color: lightgray;
    color: gray;
}
button:disabled:hover {
    background-color: lightgray;
}

.button {
    border-radius: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09));
    padding: 12px 26px;
    transition: background-color 0.4s ease;
}

.small {
    padding: 8px 20px;
}

.icon-button {
    padding: 8px 8px;
}

form button {
    margin-top: 30px;
}

.line-decorator {
    width: 60px;
    height: 3px;
    margin-top: 20px;
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-yellow:hover {
    background-color: var(--dark-yellow);
}

.bg-red {
    color: white;
    background-color: var(--red);
}

.bg-red:hover {
    background-color: var(--dark-red);
}

a .material-icons {
    color: var(--yellow);
    font-size: 28px;
    transition: color 0.4s ease;
}

a .material-icons:hover {
    color: var(--dark-yellow);
}
/* Remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-yellow);
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: inset 7px 10px 12px #f3f3f3;
}
